/* this css file is for most of the buttons within the interface, with exceptions.  */


.button
{
    -fx-background-color: #F4C756;
    -fx-border-radius: 5;
}
.button:hover
{
    -fx-background-color:  #F7DA4B;
}

.button:pressed
{
    -fx-background-color: #9038c7 ;
}
